body
  background-color #f9f8f4

h1
  font-size 3.25em
  font-weight 100
  margin 1em 0

a
  text-decoration none
  color darkslategray !important

.v-btn
  text-transform none
  border-radius 20px
  
.green-button
  background-color #549387 !important
  color white !important